@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    background-color: snow;
    color: #600000;
    font-family: 'Lato', sans-serif;
    margin: 2%;
}
.code{
    font-family: monospace;
    font-size: 15px;
    width: 55%;
    line-height: 1.4;
}
body::-webkit-scrollbar {
    width: 15px;
}
body::-webkit-scrollbar-track {
    background: #fa80724d;
}
body::-webkit-scrollbar-thumb {
    background-color: #fa80724d;
    border-radius: 5px;
    border: 3px solid salmon;
}
h1, h2, h3, h4, h5, h6{
    text-align: center;
}
table{
    margin: 30px auto;
    width: 95%;
    text-align: center;
    border-color: salmon;
}
.separacao{
    background-color: salmon;
    color: snow;
    text-shadow: 0 0 2px #600000;
}
a{
    color: #600000;
    text-decoration: none;
    transition-duration: 0.3s;
    border-style: ridge;
    border-color: #00000000;
    padding: 3px;
}
a:hover{
    color: snow;
    background-color: salmon;
    transition-duration: 0.3s;
    border-color: pink;
    border-style: outset;
}
a:active{
    color: snow;
    background-color: salmon;
    transition-duration: 0.3s;
    border-color: pink;
    border-style: inset;
}
nav{
    background-color: #fa80724d;
    padding: 30px;
    margin: auto;
    margin-bottom: 30px;
    width: 60%;
}
mark{
    color: salmon;
    background-color: #fa80724d;
    padding: 3px;
}
footer{
    text-align: center;
    font-style: italic;
    opacity: 75%;
}
.up{
    font-size: large;
    position: fixed;
    padding: 30px;
    margin-top: -20px;
    color: salmon;
    top: 10px;
    left: 0px;
    opacity: 75%;
    transition: 0.6s;
    border: none;
}
.up:hover{
    color: #600000;
    opacity: 100%;
    transition: 0.3s;
    transform: translateY(-2px);
    background: none;
    border: none;
}
.up:active{
    text-shadow: 0 2px #fa80724d;
    opacity: 100%;
    transform: translateY(-4px);
    background: none;
    border: none;
}
.down{
    font-size: large;
    position: fixed;
    padding: 30px;
    margin-top: -20px;
    color: salmon;
    top: 10px;
    right: 0px;
    opacity: 75%;
    transition: 0.6s;
    border: none;
}
.down:hover{
    color: #600000;
    opacity: 100%;
    transition: 0.3s;
    transform: translateY(2px);
    background: none;
    border: none;
}
.down:active{
    text-shadow: 0 -2px #fa80724d;
    opacity: 100%;
    transform: translateY(4px);
    background: none;
    border: none;
}
#obs{
    opacity: 50%;
    color: white;
    font-size: small;
    transition-duration: 0.5s;
    vertical-align: super;
}
#obs:hover{
    opacity: 100%;
}
*::selection{
    color: salmon;
    background-color: #fa80724d;
}